<div class="phone-images">
  <img ng-src="img/proyectos/{{img.URLImagen}}"
       class="phone"
       ng-repeat="img in images"
       ng-class="{active: mainImageUrl==img.URLImagen}">
</div>

<h1>{{proyecto.nombre}}</h1>

<p>{{proyecto.descripcion}}</p>

<ul class="phone-thumbs">
  <li ng-repeat="img in images">
    <img ng-src="img/proyectos/{{img.URLImagen}}" ng-mouseenter="setImage(img.URLImagen)">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Nombre</span>
    <dl>
      <dd>{{proyecto.nombre}}</dd>    
    </dl>
  </li>
    <li>
    <span>Activo</span>
    <dl>
      <dd>{{proyecto.estaActivo}}</dd>
    </dl>
  </li> 
  <li>
     <span>Comentarios</span>
    <dl>
      <dd>{{proyecto.comentarios}}</dd>
    </dl>
  </li>
</ul>
