<div class="container-fluid">
	<div class="jumbotron">
        <h2>Hola!</h2>
        <p class="lead">Esta será la portada de Garaje. Aquí te explicaremos brevemente que 
		  puedes ir a <a href="#/proyectos/">Proyectos</a> y a <a href="#/users/">Usuarios</a> sin estar registrado. 
		  Habrá imágenes y cosas por el estilo.<br >
		  Valete!</p>
        <button id="login" class="btn btn-lg btn-success" ng-show="!logged()" go-click="/login" type="submit">Login ></button>		
    </div>	
    <img class="img-responsive" src="img/garaje.jpg">  

</div>
