
		<div class="row-fluid">
			<p class="text-right"> <h3><a id="userLoggedLink" href="#/users/area">{{userSesion.username}}</a></h3></p>	 			 
		</div>


<div class="phone-images">
  <img ng-src="img/proyectos/{{mainImageUrl}}" class="phone">
</div>

<h1>{{proyecto.nombre}}</h1>
<p>{{proyecto.descripcion}}</p>

<ul class="phone-thumbs">
  <li ng-repeat="img in images">
    <img ng-src="img/proyectos/{{img.URLImagen}}" ng-click="setImage(img.URLImagen)">
  </li>
</ul>


 <div > 
	<form novalidate class="simple-form">
		Nombre: <input type="text" ng-model="proyecto.nombre" /><br />
		Imagen: http://<input type="text" ng-model="proyecto.urlImagen" /><button ng-click="addImage(proyecto);">AÑADIR</button><br />
		Activo: <input type="text" ng-model="proyecto.estaActivo" /><br />
		Descripcion: <input type="text" ng-model="proyecto.descripcion" /><br />
		Comentarios: <input type="text" ng-model="proyecto.comentarios" /><br />			
		<button ng-click="update();" >SAVE</button><button ng-click="deletes();" go-click="/proyectos">DELETE</button>
	</form>
</div>

</form>




