<div class="container-fluid">

	<div class="row-fluid">
		<div class="span12">
			 <a href="#/principal/">Principal</a>	 
			 <a href="#/proyectos/">Proyectos</a>	
			 <a href="#/users/">Usuarios</a>
			<a href="#/users/{{userSesion.idUser}}">{{userSesion.username}}</a>			 			 
		</div>   
	</div>

	<div class="row-fluid">   
		<div class="span2">
		  Search: <input ng-model="query">
		  Sort by:
		  <select ng-model="orderProp">
			<option value="nombre">Nombre</option>
			<option value="fechaAlta">Fecha Alta</option>
		  </select>	 
		  
		  <button id="newProject" ng-show="logged()" go-click="/proyectos/new/">Nuevo Proyecto</button>	

		</div>
		
		<div class="span10">
		  <h1>Proyectos</h1>
		  <ul class="phones">
			<li ng-repeat="proyecto in proyectos | filter:query | orderBy:orderProp"
				class="thumbnail phone-listing">
			  <a href="#/proyectos/{{proyecto.idProyecto}}" class="thumb"><img ng-src="img/proyectos/{{proyecto.URLImagen}}"></a>
			  <a href="#/proyectos/{{proyecto.idProyecto}}">{{proyecto.nombre}}</a>
			</li>
		  </ul>
		</div>	
	</div>
  
</div>
