<div class="container-fluid">
	<div class="starter-template">
        <h2>Area del usuario {{userSesion.username}}</h2>
        <p class="lead">Esta será la página general del usuario {{userSesion.username}}</p>
      </div>
	  
	  <div class="col-sm-4">	
		<button class="btn btn-lg btn-success btn-block" go-click="/users/{{userSesion.idUser}}" type="submit">Mis datos</button>	
		<button class="btn btn-lg btn-success btn-block" ng-disabled='true' type="submit">Mis proyectos</button>	
		<button class="btn btn-lg btn-success btn-block" ng-disabled='true' type="submit">Mis colaboraciones</button>		
	  </div>
					
</div>