
<div ng-include src="'partials/menu.html'">
</div>

<div class="container-fluid">

		<div class="row-fluid">
			<p class="text-right"> <h3><a id="userLoggedLink" href="#/user/area">{{userSesion.username}}</a></h3></p>	 			 
		</div>

	<div class="row-fluid">
		<div class="span2">
		  Search: <input ng-model="query">
		  Sort by:
		  <select ng-model="orderProp">
			<option value="username">Username</option>
			<option value="apellidos">Apellidos</option>
		  </select>	  		
		</div>
		
		<div class="span10">
		  <h1>Usuarios</h1>
		  <ul class="phones">
			<li ng-repeat="user in users | filter:query | orderBy:orderProp"
				class="thumbnail phone-listing">
			  <p class="thumb"><img ng-src="{{user.imagen}}"></p>
			  <h3>{{user.username}}</h3>{{user.bio}}
			</li>
		  </ul>
		</div>
	</div>

</div>
